

         <div class="row jumbotron no-gutters bg-light">
           <div class="col-lg-12">
              <% if current_user.name.present? %>
              <h3>Hi again, <%=current_user.name%></h3>
                <small class="badge badge-success"><i class="fa fa-user" aria-hidden="true"></i> <%=current_user.type_of_registration%></small>
                <small class="badge badge-warning" > <i class="fa fa-sign-in" aria-hidden="true"></i> <%=current_user.sign_in_count%></small>
                <small class="badge badge-danger" >   <i class="fa fa-calendar "></i> <%= Date.today %> </small>
                  <hr>
                 <p>What would you like to do?</p>
                 <a href="/users/edit" class='btn btn-primary'> Manage Profile</a>
                 <a href="#" class='btn btn-primary'> Summery</a>
               <%else%>

               <h3 class="text-danger"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Hi, your profile is incomplete </h3> <br>
                <a href="/users/edit" class='btn btn-primary'> Update Profile</a>
             <%end%>
           </div>
        </div>

 <br>
<div class="row">
    <div class="col-md-4">
      <h3>Things you can do online</h3>
      <hr>
      <div class="row">
         <div class="col-lg-6 col-md-8">
           <a href="#">
             <div class="card ">
                 <div class="card-header panel-green">
                     <div class="row">
                         <div class="col-xs-3">
                             <i class="fa  fa-comments-o" aria-hidden="true"></i> SMS
                         </div>

                     </div>
                 </div>
             </div>
           </a>
         </div>
         <div class="col-lg-6 col-md-8">
           <a href="#">
             <div class="card ">
                 <div class="card-header panel-green">
                     <div class="row">
                         <div class="col-xs-3">
                             <i class="fa  fa-phone-square" aria-hidden="true"></i></i> Voice
                         </div>

                     </div>
                 </div>
             </div>
           </a>
         </div>

    </div>

    <div class="row">
       <div class="col-lg-6 col-md-8">
         <a href="#">
           <div class="card ">
               <div class="card-header panel-green">
                   <div class="row">
                       <div class="col-xs-3">
                           <i class="fa fa-plug" aria-hidden="true"></i> Electricity
                       </div>

                   </div>
               </div>
           </div>
         </a>
       </div>
       <div class="col-lg-6 col-md-8">
         <a href="#">
           <div class="card">
               <div class="card-header panel-green">
                   <div class="row">
                       <div class="col-xs-3">

                          <i class="fa fa-shopping-basket" aria-hidden="true"></i> shopping
                       </div>

                   </div>
               </div>
           </div>
         </a>
       </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <a href="#">
        <div class="card ">
            <div class="card-header panel-green">
                <div class="row">
                    <div class="col-xs-3">
                       <i class="fa fa-television" aria-hidden="true"></i>  Competitions
                    </div>
                </div>
            </div>
        </div>
      </a>
    </div>


    <div class="col-lg-6 col-md-6">
      <a href="#">
        <div class="card ">
            <div class="card-header panel-green">
                <div class="row">
                    <div class="col-xs-3">
                       <i class="fa fa-arrow-down" aria-hidden="true"></i> <i class="fa fa-arrow-up" aria-hidden="true"></i> Data
                    </div>
                </div>
            </div>
        </div>
      </a>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-md-6">
      <a href="#">
        <div class="card ">
            <div class="card-header panel-green">
                <div class="row">
                    <div class="col-xs-3">
                       <i class="fa fa-ticket" aria-hidden="true"></i>  Tickets
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
  </div>
</div>

<div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <%=render'home/charts/points'%>
            <%=render'home/charts/credit'%>
            <%=render'home/charts/data'%>
            <%=render'home/charts/voice'%>
          </div>
        </div>
</div>

<div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h3>Latest News</h3>
            <hr>
          </div>
        </div>
</div>
